.topimg {
    background-image: url(../../assets/images/barbaqu.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    width: 100%;
    height: 70%;
}

mat-card {
    border-radius: 0px;
}