.imgcontainer {
    margin-top: 120px;
    margin-left: 16px;
    margin-right: 16px;
}

.imagenes {
    margin-top: 16px;
    margin-left: 16px;
    margin-bottom: 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.pagetitle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 120px;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 24px;
}

.imgitem {
    height: 20vh;
}

.img {
    object-fit: cover;
    vertical-align: bottom;
    max-width: 100%;
    max-height: 100%;
    cursor: pointer;
}

.formfield {
    margin-top: 18px;
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.formfieldnowrap {
    margin-top: 6px;
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.dialogactionup {
    justify-content: flex-end;
}


@media all and (min-width: 1280px) and (max-width: 1920px) {}

@media all and (min-width: 960px) and (max-width: 1279.98px) {}

@media all and (min-width: 600px) and (max-width: 959.98px) {}

@media all and (max-width: 599.98px) {
    .imgcontainer {
        margin-top: 80px;
    }


}