<div class="imgcontainer">
    <div class="pagetitle">
        <h1>Lista de imagenes</h1>
        <button mat-fab color="primary" type="button" (click)="openImage()">
            <mat-icon>image</mat-icon>
        </button>
    </div>
    <div style="display: flex; justify-content: flex-end;">
        <button type="button" mat-icon-button (click)="minibtn()">
            <mat-icon>photo</mat-icon>
        </button>
        <button type="button" mat-icon-button (click)="bigbtn()">
            <mat-icon>panorama</mat-icon>
        </button>
    </div>
    <div class="imagenes">
        <div class="imgitem" *ngFor="let im of imageList | async">
            <mat-card>
                <img mat-card-image [src]="bigmini ? im.mini : im.big" [alt]="im.alt" loading="lazy" (click)="openLinkDial(im)">
                <mat-card-content>
                    <mat-checkbox (change)="toGalery(im.id, $event)" [checked]="im.togalery">Para la galeria</mat-checkbox>
                </mat-card-content>
            </mat-card>

        </div>
    </div>
</div>