<!-- <div #img id="img" style="width: 192px; height: 108px; background-color: aquamarine;"></div> -->
<div class="imgcon">
    <img src="../../assets/images/dormitorio.jpg" alt="">
    <img src="../../assets/images/salon.jpg" alt="">
    <img src="../../assets/images/piscinaa.jpg" alt="">
    <img src="../../assets/images/poolview.jpg" alt="">
    <img src="../../assets/images/96338307.jpg" alt="">
    <img src="../../assets/images/161786574.jpg" alt="">
</div>
<div [ngStyle]="isSmall ? {'height.px': 32} : {'height.px': 76}"></div>
<div class="contoff">
    <div class="backwrap">
        <h1>Formulario de reserva</h1>
        <span class="wrapbtn mat-elevation-z1" matRipple (click)="backToOffer()">Volver a las ofertas</span>
    </div>
    <div class="cardcont">
        <p class="radfont">Rellena el formulario para que sepamos algo de ti</p>
        <div style="margin-top: 32px;">
            <div class="formfield">
                <div class="urldata">
                    <div class="urldataitem"><span>Días</span><b>{{countdays}}</b></div>
                    <div class="urldataitem"><span>Adultos</span><b>{{Adults}}</b></div>
                    <div class="urldataitem"><span>Niñ@s</span><b>{{Child}}</b></div>
                </div>
                <app-bookinghome class="topitem" [btnVisible]="false" [aperance]="'outline'" (ileDni)="countDays($event)"></app-bookinghome>
            </div>
        </div>
        <form [formGroup]="reform" [noValidate]="true">
            <div class="formfield">
                <mat-form-field appearance="outline">
                    <mat-label for="name">Nombre & apellido</mat-label>
                    <input #name matInput formControlName="fullname">
                    <mat-icon matSuffix>face</mat-icon>
                    <mat-hint>Dinos su nombre y apellido</mat-hint>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>País</mat-label>
                    <input matInput formControlName="country">
                    <mat-icon matSuffix>flag</mat-icon>
                    <mat-hint>Dinos de donde vienes</mat-hint>
                </mat-form-field>
            </div>
            <div class="formfield">
                <mat-form-field appearance="outline">
                    <mat-label>Correo electronico</mat-label>
                    <input matInput formControlName="email">
                    <mat-icon matSuffix>contact_mail</mat-icon>
                    <mat-hint>El correo para dar las noticias </mat-hint>
                    <mat-error *ngIf="reform.invalid">{{getEmailErrorMsg()}}</mat-error>
                </mat-form-field>
                <div class="formfieldphone">
                    <mat-form-field appearance="outline">
                        <mat-label>Telefono</mat-label>
                        <mat-icon matPrefix>add</mat-icon>
                        <input matInput formControlName="phone" placeholder="{+} hasta 3 {d}{-}hasta 10 {d}">
                        <mat-icon matSuffix>phone_enabled</mat-icon>
                        <mat-hint>Tu telefono para poder comunicar con tigo</mat-hint>
                    </mat-form-field>
                    <button type="button" mat-icon-button (click)="HelpPhone()">
                        <mat-icon>help</mat-icon>
                    </button>
                </div>
            </div>
            <div style="margin-top: 12px;">
                <h2>Como te gustaría alojarse</h2>
                <mat-radio-group class="radiobtn" aria-label="Select an option" [value]="AloNum" color="warn" (change)="radChange($event)">
                    <mat-radio-button aria-label="Solo Cama" [value]="0"><span class="radfont">Solo
                            Cama</span></mat-radio-button>
                    <mat-radio-button aria-label="Desayuno" [value]="1" *ngIf="Breakfast"><span class="radfont">Desayuno</span></mat-radio-button>
                    <mat-radio-button aria-label="Half Board" [value]="2" *ngIf="HalfBoard"><span class="radfont">Media
                            pension</span></mat-radio-button>
                    <mat-radio-button aria-label="Full Board" [value]="3" *ngIf="FullBoard"><span class="radfont">Pension
                            completa</span></mat-radio-button>
                </mat-radio-group>
                <mat-form-field style="display: none;">
                    <input matInput formControlName="alojamiento" [value]="AloNum">
                </mat-form-field>
            </div>
            <div class="formfield">
                <mat-form-field appearance="outline">
                    <mat-label>Mensaje</mat-label>
                    <textarea matInput formControlName="message"></textarea>
                    <mat-icon matSuffix>message</mat-icon>
                    <mat-hint>Deja nos un mensaje si deseas</mat-hint>
                </mat-form-field>

            </div>

            <div class="price">
                <p>Tu calculo</p>
                <b>{{ToPay() | currency: '€'}}</b>
            </div>
            <div style="margin-top: 24px; margin-bottom: 12px; ">
                <hr>
                <div style="display: flex; justify-content: flex-end; gap: 32px;">
                    <button mat-raised-button color="accent" (click)="cancel()">
                        <mat-icon class="iconbtn">cancel</mat-icon>
                        <span>Cancelar</span>
                    </button>
                    <button *ngIf="!Modificator" type="submit" mat-raised-button color="warn" (click)="sendToServer()">
                        <mat-icon class="iconbtn">send</mat-icon>
                        <span>Enviar</span></button>

                    <button *ngIf="Modificator" mat-raised-button type="submit" color="warn" (click)="editInServer()">
                        <mat-icon class="iconbtn">send</mat-icon>
                        <span>Modificar</span></button>
                </div>
            </div>
        </form>

    </div>