<div style="display: flex; flex: 1; justify-content: end;">
  <mat-toolbar [ngClass]="{'tolbarhsm' : isSmall,   'tolbarhxl' : !isSmall}">
    <div class="menutoolbar">
      <div style=" display: flex; flex-direction: row; align-items: center;">
        <img src="../assets/images/lapiramide.svg" alt="Apartamentos La Piramide" [ngClass]="{'logobig' : !isSmall, 'logosmall' : isSmall}">
        <div *ngIf="!isSmall" [@antitle]="state" [ngClass]="{'titlexl' : !isSmall, 'titlesm' : isSmall}">{{title}}
        </div>
        <div *ngIf="isSmall" [ngClass]="{'titlexl' : !isSmall, 'titlesm' : isSmall}">{{title}}
        </div>
      </div>
      <span *ngIf="isBlocked">
        <div *ngIf="!isSmall" class="menubtn">
          <span *ngFor="let link of links; let i = index">
            <button mat-button class="link" [routerLink]="link.url">
              <mat-icon class="iconbtn">{{link.icon}}</mat-icon>
              <span *ngIf="!isTabl">{{link.name}}</span>
            </button>
          </span>
          <span>
            <span *ngIf="!loggedin">
              <button mat-button class="link" [routerLink]="'/login'" *ngIf="!isAnonimo">
                <mat-icon class="iconbtn">login</mat-icon>
                <span *ngIf="!isTabl">Login</span>
              </button>
            </span>
            <span *ngIf="loggedin">
              <button mat-button class="link" (click)="LogOut()" *ngIf="isAnonimo">
                <mat-icon class="iconbtn">login</mat-icon>
                <span *ngIf="!isTabl">SingOut</span>
              </button>
            </span>
            <button mat-button class="link" (click)="LogOut()" *ngIf="isAnonimo">
              <mat-icon class="iconbtn">login</mat-icon>
              <span *ngIf="!isTabl">SingOut</span>
            </button>
            <button mat-button class="link" [matMenuTriggerFor]="menu" *ngIf="loggedin" [matBadge]="rezsize" [matBadgeHidden]="badgehidden" matBadgeSize="medium" matBadgePosition="before">
              <div style="display: flex; flex-direction: row; justify-content: center; align-items: center;">
                <mat-icon class="iconbtn">admin_panel_settings</mat-icon>
                <span *ngIf="!isTabl">Admin</span>
                <mat-icon>more_vert</mat-icon>
              </div>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item [routerLink]="'/administrator'">
                <mat-icon class="iconbtn">admin_panel_settings</mat-icon>
                <span>Admininistrator</span>
              </button>
              <button mat-menu-item [routerLink]="'/administrator/bookinglist'">
                <mat-icon class="iconbtn">list</mat-icon>
                <span>Lista de reservas</span>
              </button>
              <button mat-menu-item style="background-color: red; color: white;" (click)="LogOut()">
                <mat-icon>logout</mat-icon>
                <span>Sign Out</span>
              </button>
            </mat-menu>
          </span>
        </div>
        <button *ngIf="isSmall" mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </span>
    </div>
  </mat-toolbar>
</div>
<mat-sidenav-container [ngClass]="{'pagexl' : !isSmall, 'pagesm' : isSmall}" cdkScrollable>
  <mat-sidenav class="sidenav" #sidenav [opened]="bhvsrv.isSideNavOpenFu()" (openedChange)="getPosition($event)" [fixedInViewport]="isSmall">
    <mat-toolbar class="sidenavtoolbar">
      <span>Menu</span>
    </mat-toolbar>
    <mat-nav-list *ngIf="isBlocked">
      <mat-list-item *ngFor="let link of linkssm; let ia = index" (isActiveChange)="isActivChang()" [routerLink]="link.url" routerLinkActive="active-item">
        <div class="link">
          <mat-icon class="iconbtn" style="color: rgb(24, 24, 24);">{{link.icon}}</mat-icon>
          <span style="color: rgb(24, 24, 24);">{{link.name}}</span>
        </div>
      </mat-list-item>
      <mat-list-item (isActiveChange)="isActivChang()" [routerLink]="'/login'" routerLinkActive="active-item" *ngIf="!loggedin">
        <div class="link">
          <mat-icon class="iconbtn" style="color: rgb(24, 24, 24);">login</mat-icon>
          <span style="color: rgb(24, 24, 24);">Login</span>
        </div>
      </mat-list-item>
      <mat-list-item (isActiveChange)="isActivChang()" [routerLink]="'/administrator'" routerLinkActive="active-item" *ngIf="loggedin">
        <div class="link">
          <div>
            <mat-icon class="iconbtn" style="color: rgb(24, 24, 24);">admin_panel_settings</mat-icon>
            <span style="color: rgb(24, 24, 24);">Admin</span>
          </div>
          <span [matBadge]="rezsize" style="margin-left: 16px;"></span>

        </div>
      </mat-list-item>
      <mat-list-item *ngIf="loggedin" (click)="LogOut()" style="background-color: red;">
        <div class="link" style="color: whitesmoke;">
          <mat-icon>logout</mat-icon>
          <span>Sign Out</span>
        </div>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="mat-navsidecontent" #sidecont mat-sidenav-content-collapsed cdkScrollable>
    <router-outlet #outlet="outlet" (activate)="onActivate()"></router-outlet>
    <app-foot></app-foot>
  </mat-sidenav-content>
</mat-sidenav-container>
<div *ngIf="bhvsrv.isSpinerOn()">
  <div class="backstage">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
    <p style="color: white; font-size: 18px;">Loading....</p>
  </div>
</div>