<div style="display: flex; flex: 1; justify-content: end;">
  <mat-toolbar [ngClass]="{'tolbarhsm' : isSmall,   'tolbarhxl' : !isSmall}">
    <div class="menutoolbar">
      <div style=" display: flex; flex-direction: row; align-items: center;">
        <img src="../assets/images/lapiramide.svg" alt="Apartamentos La Piramide"
          [ngClass]="{'logobig' : !isSmall, 'logosmall' : isSmall}">
        <div *ngIf="!isSmall" [@antitle]="state" [ngClass]="{'titlexl' : !isSmall, 'titlesm' : isSmall}">{{title}}
        </div>
        <div *ngIf="isSmall" [ngClass]="{'titlexl' : !isSmall, 'titlesm' : isSmall}">{{title}}
        </div>
      </div>
      <div *ngIf="!isSmall" class="menubtn">
        <span *ngFor="let link of links; let i = index">
          <button mat-button class="link" [routerLink]="link.url">
            <mat-icon class="iconbtn">{{link.icon}}</mat-icon>
            <span *ngIf="!isTabl">{{link.name}}</span>
          </button>
        </span>
      </div>
      <button *ngIf="isSmall" mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
  </mat-toolbar>
</div>
<mat-sidenav-container [ngClass]="{'pagexl' : !isSmall, 'pagesm' : isSmall}" cdkScrollable>
  <mat-sidenav class="sidenav" #sidenav [opened]="bhvsrv.isSideNavOpenFu()" (openedChange)="getPosition($event)"
    [fixedInViewport]="isSmall">
    <mat-toolbar class="sidenavtoolbar">
      <span>Menu</span>
    </mat-toolbar>
    <mat-nav-list>
      <mat-list-item *ngFor="let link of links" (isActiveChange)="isActivChang()" [routerLink]="link.url"
        routerLinkActive="active-item">
        <div class="link">
          <mat-icon class="iconbtn" style="color: rgb(24, 24, 24);">{{link.icon}}</mat-icon>
          <span style="color: rgb(24, 24, 24);">{{link.name}}</span>
        </div>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="mat-navsidecontent" #sidecont mat-sidenav-content-collapsed cdkScrollable>
    <router-outlet #outlet="outlet" (activate)="onActivate()"></router-outlet>
    <app-foot></app-foot>
  </mat-sidenav-content>
</mat-sidenav-container>
<div *ngIf="spinner" class="backstage">
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
  <p style="color: white; font-size: 18px;">Loading ....</p>
</div>