.apartament {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-top: 32px;
    gap: 24px;
}

.apartament mat-card {
    border-radius: 0px;
}

.imgcon {
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 320px;
    z-index: -1;
}

.icofood {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.imgcon img {
    width: calc(100% / 3);
    opacity: 0.6;
}

.descrip {
    font-size: 16px;
    line-height: 1.3;
    font-weight: 200;
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 32px;
}

li mat-icon {
    font-size: 24px;
    margin-right: 16px;
    width: 36px;
    height: 36px;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

ul li {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
}

.calline {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    align-items: center;
}

.personline {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: flex-start;
    gap: 12px;
}

.pricedesc {
    width: 100px;
    display: inline-block;
    font-weight: 600;
}

.pricecont {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
}

.priceitem:nth-of-type(1) {
    flex-grow: 10;
    margin-bottom: 16px;
    font-size: 18px;
    font-weight: 200;
    line-height: 1.5;
}

.priceitem:nth-of-type(2) {
    flex-grow: 1;
    margin-bottom: 16px;
    font-size: 18px;
    line-height: 1.5;
}

mat-card-actions {
    align-self: flex-end;
    margin-top: 32px;
}

mat-card-actions button {
    font-size: 18px;
    font-weight: 200;
    border-radius: 0;
}

mat-card-actions button mat-icon {
    margin-right: 24px;
}

@media all and (min-width: 1920px) {
    .personline {
        align-items: flex-end;
    }
}

@media all and (min-width: 1280px) and (max-width: 1919.98px) {
    .personline {
        align-items: flex-end;
    }
}

@media all and (min-width: 960px) and (max-width: 1279.98px) {
    .personline {
        align-items: flex-end;
    }
}

@media all and (min-width: 600px) and (max-width: 959.98px) {
    .personline {
        align-items: flex-end;
    }
}

@media all and (min-width: 320px) and (max-width: 599.98px) {
    .imgcon {
        height: 160px;
    }

    .calline {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 24px;
        align-items: center;
    }

    .pricecont {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    .personline {
        align-self: flex-end;
    }
}

@media all and (max-width: 319.98px) {
    .personline {
        align-self: flex-end;
    }
}