<div class="footcontainer">
    <div class="footitem orderA">
        <ul>
            <li>
                <a routerLink="about">Sobre Nosotros</a>
            </li>
            <li>Política de privacidad</li>
            <li>Normativa hotelera</li>
            <li>Normativa de uso de la piscina</li>
        </ul>
    </div>
    <div class="footitem orderB">
        <img src="../assets/images/logo150.png" alt="Apartamentos La Piramide" width="100%">
    </div>
    <div class="footitem orderC">
        <address>
            Apartamentos La Pirámide<br>
            C/Berlina 7<br>
            36510 Costa Antigua<br>
            Tel: 928 163 008<br>
            Email: <a href="mailto:apartamentoslapiramide@gmail.com">Apartamentos La Pirámide</a>
        </address>
    </div>
</div>
<div class="copyright">
    &copy; 2023 - {{today | date: 'yyyy'}} &nbsp; <a class="copylink" target="_blank" href="https://diservitec.web.app/">Diservitec</a>
</div>