<div class="footcontainer">
    <div class="footitem">
        <ul>
            <li>Sobre Nosotros</li>
            <li>Política de privacidad</li>
            <li>Normativa hotelera</li>
            <li>Normativa de uso de la piscina</li>
        </ul>
    </div>
    <div class="footitem">
        <img src="../assets/images/lapiramide.svg" alt="Apartamentos La Piramide" height="100%">
    </div>
    <div class="footitem">
        <address>
            Apartamnetos La Pirámide<br>
            C/Berlina 7<br>
            36510 Costa Antigua<br>
            Tel: 928 163 008<br>
            Email: <a href="mailto:apartamentoslapiramide@gmail.com">Apartamentos La Piramide</a>
        </address>
    </div>
</div>