<div class="pagetitle">
    <h1>Eventos</h1>
    <button mat-fab color="primary" (click)="openDialog()">
        <mat-icon>events</mat-icon>
    </button>
</div>

<table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let i = index"> {{i + 1}} </td>
    </ng-container>

    <ng-container matColumnDef="img">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let room"> <img src="{{room.image}}" alt="" width="60px"> </td>
    </ng-container>

    <ng-container matColumnDef="evento">
        <th mat-header-cell *matHeaderCellDef> Evento </th>
        <td mat-cell *matCellDef="let eve"> {{eve.eventtitle}} </td>
    </ng-container>

    <ng-container matColumnDef="startevent">
        <th mat-header-cell *matHeaderCellDef> Start </th>
        <td mat-cell *matCellDef="let eve"> {{eve.startevent | date}} </td>
    </ng-container>

    <ng-container matColumnDef="endevent">
        <th mat-header-cell *matHeaderCellDef> End </th>
        <td mat-cell *matCellDef="let eve"> {{eve.endevent | date}} </td>
    </ng-container>

    <ng-container matColumnDef="promo">
        <th mat-header-cell *matHeaderCellDef> Promo </th>
        <td mat-cell *matCellDef="let eve"> {{eve.isPromo ? 'Promo' : 'Evento'}} </td>
    </ng-container>

    <ng-container matColumnDef="repeate">
        <th mat-header-cell *matHeaderCellDef> Repetido </th>
        <td mat-cell *matCellDef="let eve"> {{eve.repeate ? 'Repetido': 'Una Vez'}} </td>
    </ng-container>

    <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef><mat-icon>more_vert</mat-icon> </th>
        <td mat-cell *matCellDef="let eve">
            <button mat-icon-button (click)="deleteEvent(eve)">
                <mat-icon style="color: crimson;">delete</mat-icon>
            </button>
        </td>
    </ng-container>

    <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef><mat-icon>more_vert</mat-icon> </th>
        <td mat-cell *matCellDef="let eve">
            <button mat-icon-button (click)="editEvent(eve)">
                <mat-icon style="color: rgb(6, 67, 197);">edit</mat-icon>
            </button>
        </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>