<div class="jumbo">

    <img src="../../assets/images/piscina.jpg" alt="Apartamentos La Piramide" width="100%">
    <div *ngIf="!isSmall" class="event" cdkDrag cdkDragBoundary=".jumbo">
        <svg class="drag" width="24px" fill="currentColor" viewBox="0 0 24 24">
            <path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
            <path d="M0 0h24v24H0z" fill="none"></path>
        </svg>
        <div class="halfcir" routerLink="events">
            <span><mat-icon>🧬</mat-icon> No te pierdas <mat-icon>🎉</mat-icon><br> nuestros eventos</span>
        </div>
    </div>
    <div *ngIf="!isSmall" class="slogan">
        <div class="cardcontainer">
            <h1>La Pirámide</h1>
            <p>Seleccione las fechas y descubre lo que hemos preparado para Ti</p>
        </div>
        <app-bookinghome [btnVisible]="true"></app-bookinghome>
    </div>

    <div *ngIf="isSmall" class="smallname">
        Apartamentos La Pirámide
    </div>
</div>
<div *ngIf="isSmall" class="container">
    <app-bookinghome [btnVisible]="true"></app-bookinghome>
</div>
<div class="container">
    <div class="cardcontainer">
        <div class="carditem">
            <h1>Apartamentos La Pirámide</h1>
            <hr>
            <p>En el centro de Fuerteventura hay un lugar donde
                puedes alojarte y descansar, es un excelente punto base
                para visitar los lugares más bonitos de la isla, se llama
                <b>“La Pirámide”</b> y es genial tiene todo lo que puedes
                desear
            </p>
            <p><img src="https://firebasestorage.googleapis.com/v0/b/aparthotellapiramide.appspot.com/o/lapiramide%2Fmini%2Fd6827f86-b9ba-4e0f-a885-282d2469d7f4.jpeg?alt=media&token=f31bca89-b660-46cd-af8b-eac28ad2c480"
                    alt=" Apartamentos La Piramide" class="imgontxtleft">Unos apartamentos amplios y muy bonitos con vistas a la
                piscina y al jardín, con wifi gratis, televisión y una cocina
                equipada para para reponer fuerzas.</p>
            <p>El complejo alberga un bar piscina que ofrece
                desayunos, almuerzos, todo tipo de bebidas y cóteles,
                además dispone de máquinas expendedoras de bebidas
                y aperitivos.</p>
            <p>Una piscina central tipo lago estupenda para refrescarte,
                un parque infantil para los niños, un gimnasio para
                continuar con tus entrenamientos, aparcamiento privado
                para tu coche o moto y un servicio de recepción para
                informarte y ayudarte para que tu estancia sea los más
                agradable posible.</p>
            <p>Todo a precios muy económicos y muy cerca del
                aeropuerto, la capital de la isla, Puerto del Rosario,
                zonas comerciales en las proximidades.... Todo para que
                disfrutes de una experiencia que no olvidarás</p>
        </div>
        <div class="carditem">
            <h1>Descripción de los Apartamentos</h1>
            <hr>
            <p><img src="https://firebasestorage.googleapis.com/v0/b/aparthotellapiramide.appspot.com/o/lapiramide%2Fmini%2Ffc704d57-a372-431e-baec-bb34f725d522.jpeg?alt=media&token=de28c163-05b8-4124-9d7f-0238dcc9e70c"
                    alt=" Apartamentos La Piramide" class="imgontxtright">Todos los apartamentos cuentan con un balcón o
                terraza
                con vistas a la piscina. Incluyen una sala de estar con
                sofá cama y TV de pantalla plana.</p>
            <p><img src="https://firebasestorage.googleapis.com/v0/b/aparthotellapiramide.appspot.com/o/lapiramide%2Fmini%2Fcb474c4f-59f4-4034-b39f-41fdbfa4722c.jpeg?alt=media&token=463d0f77-4aad-49b7-b4b8-43475ad20741"
                    alt=" Apartamentos La Piramide" class="imgontxtleft">Hay caja fuerte disponible por un suplemento,
                además de un baño
                privado. La zona de cocina está equipada con nevera,
                fogones, microondas, hervidor, cafetera y los utensilios
                para cocinar.</p>
        </div>
    </div>
    <hr>
    <!-- <div class="cardcontainer">
        <h1>Bienvenidos a La Pirámide, tu alojamiento ideal en Fuerteventura</h1>

        <p>¿Estás buscando un lugar donde alojarte en Fuerteventura? ¿Quieres disfrutar de unas vacaciones inolvidables
            en
            una
            de
            las islas más bellas y exóticas de las Canarias? ¿Te gustaría sentirte como en casa, pero con todas las
            comodidades
            y
            servicios de un hotel? Entonces, La Pirámide es el lugar perfecto para ti.</p>

        <p>La Pirámide es un conjunto de apartamentos turísticos situados en una zona privilegiada de Fuerteventura,
            cerca
            del
            mar
            y de la montaña. Desde aquí podrás acceder fácilmente a las mejores playas, los paisajes volcánicos, los
            pueblos
            con
            encanto, los museos, los restaurantes y las actividades de ocio y deporte que ofrece la isla.</p>

        <p>La Pirámide te ofrece unos apartamentos muy bonitos y cómodos, con vistas espectaculares y una decoración
            moderna y
            acogedora. Cada apartamento tiene capacidad para dos o cuatro personas y cuenta con una habitación, un baño,
            una
            cocina,
            un salón y una terraza. Además, están equipados con todo lo que necesitas para sentirte como en casa: wifi,
            aire
            acondicionado, televisión, lavadora, microondas, cafetera, toallas, sábanas y más.</p>

        <p>La Pirámide también te ofrece unos servicios e instalaciones de primera calidad, como una piscina al aire
            libre,
            una
            zona de barbacoa, un aparcamiento privado, una recepción 24 horas, un servicio de limpieza y un servicio de
            alquiler
            de
            motos. Todo ello con un trato personalizado y profesional, para que no te falte de nada durante tu estancia.
        </p>

        <p>La Pirámide tiene unos precios muy económicos y competitivos, adaptados a todos los bolsillos. Solo cuesta 70
            euros
            por
            noche por apartamento, todo incluido. Además, si reservas ahora a través de nuestra página web, podrás
            beneficiarte
            de
            un descuento especial del 10%. No lo dudes más y aprovecha esta oportunidad única.</p>

        <p>La Pirámide es el alojamiento ideal para ti si quieres vivir una experiencia única y diferente en
            Fuerteventura.
            No
            te
            arrepentirás de elegirnos. Te esperamos con los brazos abiertos.</p>
    </div> -->
</div>