.jumbo {
    position: relative;
}



.slogan {
    background-image: linear-gradient(3deg, rgb(206, 141, 0), rgb(255, 187, 0) 60%);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 280px;
    padding: 16px 32px;
    color: rgb(32, 32, 32);
    position: absolute;
    top: 0px;
    bottom: 6px;
    left: 0px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: space-around;
    box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.6);
}

.event {
    background-image: url("https://firebasestorage.googleapis.com/v0/b/aparthotellapiramide.appspot.com/o/lapiramide%2Fmini%2Ff9fce674-f60d-4949-91af-ce80f8e98ec4.jpeg?alt=media&token=44aeb78d-f041-4ac4-9238-29fab8bc4f88");
    width: 284px;
    height: 284px;
    background-color: bisque;
    position: absolute;
    right: 20px;
    bottom: 30px;
    color: rgb(26, 26, 26);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border-radius: 50%;
    box-shadow: 6px 6px 18px rgba(0, 0, 0, 0.4) inset;
    cursor: grab;

}

.halfcir {
    background-color: hsla(0, 0%, 0%, 0.6);
    color: whitesmoke;
    height: 142px;
    width: 284px;
    border-radius: 0 0 284px 284px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.halfcir span {
    font-size: 24px;
    width: 280px;
    text-align: center;
    line-height: 1.2;
    font-weight: 200;
    margin-bottom: 20px;

}

.drag {
    position: absolute;
    bottom: 0;
    right: 0;
    color: aliceblue;
}


.find {
    font-family: 'Lugrasimo', cursive;
    font-size: 56px;
    text-align: center;
    padding: 16px;
}

a {
    color: whitesmoke;
    text-decoration: none;
}

a:hover {
    color: rgb(170, 170, 170);
    text-decoration: none;
}

.startlear {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    color: #000;
    cursor: pointer;
}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.slide {
    display: none;
    width: 100%;
    height: auto;
}

.fade {
    animation: fade 5s infinite;
}

.smallname {
    color: rgb(255, 232, 213);
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-size: 24px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 12px;
}

@keyframes fade {
    0%, 100% {
        opacity: 0
    }

    20%, 80% {
        opacity: 1
    }
}

@media all and (min-width: 1920px) {}

@media all and (min-width: 1280px) and (max-width: 1919.98px) {}

@media all and (min-width: 960px) and (max-width: 1279.98px) {
    .slogan {
        padding: 16px 12px;
        bottom: 6px;
        width: 30%;
        gap: 12px;
    }

    .slogantxt {
        font-size: 28px;
        line-height: 1.2;
    }
}

@media all and (min-width: 600px) and (max-width: 959.98px) {
    .slogan {
        padding: 8px 16px;
        gap: 12px;
    }

    .slogantxt {
        font-size: 24px;
        line-height: 1.2;
    }
}

@media all and (min-width: 320px) and (max-width: 599.98px) {}

@media all and (max-width: 319.98px) {}