<div class="jumbo">
    <img src="../../assets/images/c82c0b9d.webp" alt="Apartamentos La Piramide" width="100%">
    <div class="slogan">
        <div class="cardcontainer">
            <h1>La Pirámide</h1>
            <p>En Fuerteventura hay un lugar donde puedes alojarte y descansar se llama La Pirámide y es genial tiene
                todo
                lo que puedes desear</p>
        </div>
        <app-bookinghome></app-bookinghome>
    </div>
</div>
<div class="container">
    <div class="cardcontainer">
        <h1>La Pirámide</h1>

        <p>En Fuerteventura hay un lugar donde puedes alojarte y descansar se llama La Pirámide y es genial tiene todo
            lo que puedes desear</p>
        <p>Unos apartamentos muy bonitos con vistas al mar y a la montaña con wifi, aire y televisión y una cocina donde
            hacer lasaña</p>

        <p>Una piscina para refrescarte una barbacoa para asar un aparcamiento para tu moto y una recepción para ayudar
        </p>

        <p>Un precio muy económico y justo un descuento si reservas ya un trato personalizado y profesional y una
            experiencia que no olvidarás</p>
    </div>
    <hr>
    <!-- <div class="cardcontainer">
        <h1>Bienvenidos a La Pirámide, tu alojamiento ideal en Fuerteventura</h1>

        <p>¿Estás buscando un lugar donde alojarte en Fuerteventura? ¿Quieres disfrutar de unas vacaciones inolvidables
            en
            una
            de
            las islas más bellas y exóticas de las Canarias? ¿Te gustaría sentirte como en casa, pero con todas las
            comodidades
            y
            servicios de un hotel? Entonces, La Pirámide es el lugar perfecto para ti.</p>

        <p>La Pirámide es un conjunto de apartamentos turísticos situados en una zona privilegiada de Fuerteventura,
            cerca
            del
            mar
            y de la montaña. Desde aquí podrás acceder fácilmente a las mejores playas, los paisajes volcánicos, los
            pueblos
            con
            encanto, los museos, los restaurantes y las actividades de ocio y deporte que ofrece la isla.</p>

        <p>La Pirámide te ofrece unos apartamentos muy bonitos y cómodos, con vistas espectaculares y una decoración
            moderna y
            acogedora. Cada apartamento tiene capacidad para dos o cuatro personas y cuenta con una habitación, un baño,
            una
            cocina,
            un salón y una terraza. Además, están equipados con todo lo que necesitas para sentirte como en casa: wifi,
            aire
            acondicionado, televisión, lavadora, microondas, cafetera, toallas, sábanas y más.</p>

        <p>La Pirámide también te ofrece unos servicios e instalaciones de primera calidad, como una piscina al aire
            libre,
            una
            zona de barbacoa, un aparcamiento privado, una recepción 24 horas, un servicio de limpieza y un servicio de
            alquiler
            de
            motos. Todo ello con un trato personalizado y profesional, para que no te falte de nada durante tu estancia.
        </p>

        <p>La Pirámide tiene unos precios muy económicos y competitivos, adaptados a todos los bolsillos. Solo cuesta 70
            euros
            por
            noche por apartamento, todo incluido. Además, si reservas ahora a través de nuestra página web, podrás
            beneficiarte
            de
            un descuento especial del 10%. No lo dudes más y aprovecha esta oportunidad única.</p>

        <p>La Pirámide es el alojamiento ideal para ti si quieres vivir una experiencia única y diferente en
            Fuerteventura.
            No
            te
            arrepentirás de elegirnos. Te esperamos con los brazos abiertos.</p>
    </div> -->
</div>