<div class="jumbo">
    <img src="../../assets/images/piscina.jpg" alt="Apartamentos La Piramide" width="100%">
    <div *ngIf="!isSmall" class="slogan">
        <div class="cardcontainer">
            <h1>La Pirámide</h1>
            <p>Selecione las fechas y descubre lo que hemos preparado par Ti</p>
        </div>
        <app-bookinghome [btnVisible]="true"></app-bookinghome>
    </div>
    <div *ngIf="isSmall" class="smallname">
        Apartamentos La Pirámide
    </div>
</div>
<div *ngIf="isSmall" class="container">
    <app-bookinghome [btnVisible]="true"></app-bookinghome>
</div>
<div class="container">
    <div class="cardcontainer">
        <div class="carditem">
            <h1>Aparthotel La Pirámide</h1>
            <hr>
            <p>En el centro de Fuerteventura hay un lugar donde
                puedes alojarte y descansar, es un excelente punto base
                para visitar los lugares más bonitos de la isla, se llama
                <b>“La Pirámide”</b> y es genial tiene todo lo que puedes
                desear
            </p>
            <!-- <img src="https://firebasestorage.googleapis.com/v0/b/lapiramide-544e8.appspot.com/o/lapiramide%2Ffull%2Ff12ab92a-7dfe-4381-8a71-8cf1490e8dbd.jpeg?alt=media&token=73c7c61e-899e-4b3c-a66c-3d0fef065bc4"
                alt="" width="100%"> -->
            <p>Unos apartamentos amplios y muy bonitos con vistas a la
                piscina y al jardín, con wifi gratis, televisión y una cocina
                equipada para para reponer fuerzas.</p>
            <p>El complejo alberga un bar piscina que ofrece
                desayunos, almuerzos, todo tipo de bebidas y cóteles,
                además dispone de máquinas expendedoras de bebidas
                y aperitivos.</p>
            <p>Una piscina central tipo lago estupenda para refrescarte,
                un parque infantil para los niños, un gimnasio para
                continuar con tus entrenamientos, aparcamiento privado
                para tu coche o moto y un servicio de recepción para
                informarte y ayudarte para que tu estancia sea los más
                agradable posible.</p>
            <p>Todo a precios muy económicos y muy cerca del
                aeropuerto, la capital de la isla, Puerto del Rosario,
                zonas comerciales en las proximidades.... Todo para que
                disfrutes de una experiencia que no olvidarás</p>
        </div>
        <div class="carditem">
            <h1>Descripción de los Apartamentos</h1>
            <hr>
            <p><img src="https://firebasestorage.googleapis.com/v0/b/lapiramide-544e8.appspot.com/o/lapiramide%2Fmini%2Fc5571606-c40b-4974-a4c8-10d83301b809.jpeg?alt=media&token=74bbf404-8fe1-402b-a161-06059ac4fafe"
                    alt=" Apartamentos La Piramide" class="imgontxtright">Todos los apartamentos cuentan con un balcón o
                terraza
                con vistas a la piscina. Incluyen una sala de estar con
                sofá cama y TV de pantalla plana.</p>
            <p><img src="https://firebasestorage.googleapis.com/v0/b/lapiramide-544e8.appspot.com/o/lapiramide%2Fmini%2Fb2d17705-40df-480e-a40a-684118716bb2.jpeg?alt=media&token=b020ed56-56df-4cc8-9781-4e4a699ce19e"
                    alt=" Apartamentos La Piramide" class="imgontxtleft">Hay caja fuerte disponible por un suplemento,
                además de un baño
                privado. La zona de cocina está equipada con nevera,
                fogones, microondas, hervidor, cafetera y los utensilios
                para cocinar.</p>
        </div>
    </div>
    <hr>
    <!-- <div class="cardcontainer">
        <h1>Bienvenidos a La Pirámide, tu alojamiento ideal en Fuerteventura</h1>

        <p>¿Estás buscando un lugar donde alojarte en Fuerteventura? ¿Quieres disfrutar de unas vacaciones inolvidables
            en
            una
            de
            las islas más bellas y exóticas de las Canarias? ¿Te gustaría sentirte como en casa, pero con todas las
            comodidades
            y
            servicios de un hotel? Entonces, La Pirámide es el lugar perfecto para ti.</p>

        <p>La Pirámide es un conjunto de apartamentos turísticos situados en una zona privilegiada de Fuerteventura,
            cerca
            del
            mar
            y de la montaña. Desde aquí podrás acceder fácilmente a las mejores playas, los paisajes volcánicos, los
            pueblos
            con
            encanto, los museos, los restaurantes y las actividades de ocio y deporte que ofrece la isla.</p>

        <p>La Pirámide te ofrece unos apartamentos muy bonitos y cómodos, con vistas espectaculares y una decoración
            moderna y
            acogedora. Cada apartamento tiene capacidad para dos o cuatro personas y cuenta con una habitación, un baño,
            una
            cocina,
            un salón y una terraza. Además, están equipados con todo lo que necesitas para sentirte como en casa: wifi,
            aire
            acondicionado, televisión, lavadora, microondas, cafetera, toallas, sábanas y más.</p>

        <p>La Pirámide también te ofrece unos servicios e instalaciones de primera calidad, como una piscina al aire
            libre,
            una
            zona de barbacoa, un aparcamiento privado, una recepción 24 horas, un servicio de limpieza y un servicio de
            alquiler
            de
            motos. Todo ello con un trato personalizado y profesional, para que no te falte de nada durante tu estancia.
        </p>

        <p>La Pirámide tiene unos precios muy económicos y competitivos, adaptados a todos los bolsillos. Solo cuesta 70
            euros
            por
            noche por apartamento, todo incluido. Además, si reservas ahora a través de nuestra página web, podrás
            beneficiarte
            de
            un descuento especial del 10%. No lo dudes más y aprovecha esta oportunidad única.</p>

        <p>La Pirámide es el alojamiento ideal para ti si quieres vivir una experiencia única y diferente en
            Fuerteventura.
            No
            te
            arrepentirás de elegirnos. Te esperamos con los brazos abiertos.</p>
    </div> -->
</div>