<div class="topimg">
</div>
<!-- <img src="../../assets/images/barbaqu.jpg" alt="" width="100%"> -->
<div class="container">
    <h1>Los eventos que no puedes perder</h1>
</div>
<div class="container">
    <div class="CardItem">


    </div>
    <div class="cardcoevent">
        <div *ngIf="!isEvent" class="cardcoitem">
            <mat-icon style="font-size: 48px; color: rgb(87, 87, 87); width: 56px; height: 56px;">nearby_error
            </mat-icon>
            <div style="text-align: center; line-height: 1.5;">
                <p>🎉 Próximamente no hay ningun evento a la vista. 🧬</p>
                <p>🤗 Pero no te desanimas, visita nos con frecuencia 🍷</p>
            </div>
        </div>
        <div *ngIf="isEvent" class="cardcoitem">
            <mat-card class="citem" *ngFor="let eve of eventList | async; let i = index" matTooltip="{{eve.eventtitle}}" matTooltipPosition="above" matTooltipPositionAtOrigin="true">
                <div style="position: relative;">
                    <img src="{{eve.image}}" alt="" width="100%">
                    <div class="cardevent">
                        <mat-card-title class="elip">{{eve.eventtitle}}</mat-card-title>

                    </div>
                </div>
                <mat-card-content style="display: flex; flex-direction: column; justify-content: space-between; flex: 1;">
                    <p [innerHTML]="eve.eventdescrip"></p>
                    <div *ngIf="eve.repeate" class="carddescrip">
                        <p>El próximo evento tenemos<br>
                            <span>
                                <b>{{eve.startevent > eve.endevent ? (eve.endevent | date:"d 'de' MMMM":"es") : (eve.startevent | date:"d 'de' MMMM":"es")}}</b>
                                <span *ngIf="eve.startevent != eve.endevent">
                                    <span>&nbsp;y&nbsp;</span>
                                    <b>{{eve.startevent < eve.endevent ? (eve.endevent | date:"d 'de' MMMM":"es") : (eve.startevent | date:"d 'de' MMMM":"es")}}</b>
                                </span>
                            </span>
                        </p>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>