.book {
    display: flex;
    flex-direction: column;
}

.button {
    border-radius: 0px;
    height: 72px !important;
    font-size: 26px;
    font-weight: 200;
    color: rgb(109, 49, 3) !important;
    margin-top: 24px;
}

.button mat-icon {
    scale: 2;
    margin-right: 36px;
}

button.sunday-date-class {
    background: rgba(60, 255, 0, 0.3);
}

button.sat-date-class {
    background: rgba(0, 119, 255, 0.3);
}

button {
    font-size: 24px;
}

.dayscount {
    font-size: 18px;
    color: rgb(48, 21, 0);
    font-family: 'Lugrasimo', cursive;
}

@media all and (min-width: 1920px) {}

@media all and (min-width: 960px) and (max-width: 1280px) {}

@media all and (min-width: 600px) and (max-width: 959.98px) {
    .book {
        background-image: linear-gradient(3deg, rgb(206, 141, 0), rgb(255, 187, 0) 60%);
        padding: 24px;
    }
}

@media all and (max-width: 599.98px) {
    .book {
        width: 90%;
        background-image: linear-gradient(3deg, rgb(206, 141, 0), rgb(255, 187, 0) 60%);
        padding: 16px;
    }

    .button {
        font-size: 26px;
        font-weight: 200;
    }

    .button mat-icon {
        scale: 2;
        margin-right: 36px;
    }

    button {
        font-size: 18px;
    }
}