.book {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

button {
    border-radius: 0px;
    height: 72px !important;
    font-size: 26px;
    font-weight: 200;
    color: rgb(77, 43, 0) !important;
}